body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    background-color: hsl(0, 0%, 100%);
    max-width: 18.75rem;
    max-height: 28.75rem;
    position: relative;
    margin: 6.25rem auto auto auto;
    border-radius: 1rem;
    padding: 16px;
}
h1 {
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
    max-width: 14rem;
    padding: 1rem;
}
p {
    color: hsl(220, 15%, 55%);
    font-size: 0.9rem;
    text-align: center;
    margin: auto auto auto auto;
    padding-bottom: 1rem;
    max-width: 15rem;
}
img {
    max-width: 270px;
    border-radius: 1rem;
}

